$phone: "only screen and (max-width: 767px)";

$phone-width: 3.75rem;

$pad-narrow: "only screen and (min-width: 768px) and (max-width: 1023px)";
$pad-wide: "only screen and (min-width: 1024px)";

$base-font-family: XingYan;
$font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$yihei-font: YiHei;
