.panda-loadingpage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panda-loadingpage-progress-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
}
.panda-loadingpage-center {
  display: inline;
}
